# fly.toml app configuration file generated for smartbrain-fe on 2023-05-18T16:28:40+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "smartbrain-fe"
primary_region = "ams"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
