# fly.toml app configuration file generated for smart-brain-fe on 2023-08-21T18:46:24+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "smart-brain-fe"
primary_region = "ams"

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
